/* Developer Portfolio CSS /*
/* Author : Srabon */
body{
    font-family: 'IBM Plex Serif', serif;
    margin: 0;
   
}
.flexible-container{
    display: flex;
    margin-bottom: 40px;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h1{
    font-size: 50px;
    font-weight: 500;
}
p{
    font-size: 15px;
    text-align: justify;
}
h3{
    color: #5f2d5f;
    text-shadow: 2px black;
}
.dev-name{
    color:#5f2d5f;
    font-weight: 800;
    text-shadow:3px black;
}
.half-width{
    width: 50%;
    padding: 40px;
}
.half-width img{
    width: 80%;

}
.hire-button{
    padding: 10px 40px;
    color: white;
    
    text-decoration: none;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    font-weight: 600;
    border-radius: 15px 2px 15px 2px;
}

.exp-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    

}
.exp-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 35px gray;
    padding: 20px;

}
.header-exp{
    margin-left: 30px;
}
#fullstack-dev{
    border-left: 7px solid;
    border-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-image-slice: 1;

}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border-image-slice: 1;

}

footer p{
    padding-bottom: 10px;
    color: #0093E9;
    text-align: center;
}